body {
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color:white;
}

.container {
    max-width:500px;
    margin:auto;
    padding:40px;
}

.card {
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 20px rgba(0,0,0,0.4);
}

input,button {
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:8px;
}

input {
    background:#334155;
    color:white;
}

button {
    background:#3b82f6;
    color:white;
    cursor:pointer;
}

button:hover {
    background:#2563eb;
}

#map {
    height:100vh;
}

@media(max-width:600px){
    .container{
        padding:20px;
    }
}